<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>茶水间语音播报</title>

</head>
<body>
<!--[if lt IE 9]>
<script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
<!--<![endif]-->
<script src='http://cdn.bootcss.com/socket.io/1.3.7/socket.io.js'></script>
<script>
    // 连接服务端
    // var socket = io('127.0.0.1:2120');
    var socket = io('http://'+document.domain+':2120');
    // uid可以是自己网站的用户id，以便针对uid推送以及统计在线人数
    uid = 2;
    // socket连接后以uid登录
    socket.on('connect', function(){
        socket.emit('login', uid);
    });
    // 后端推送来消息时
    socket.on('new_msg', function(msg){
        console.log("收到消息："+msg);
        // dotts(msg)
        speckText(msg)
        // sound(msg)
        showMsg(no);
    });
    // 后端推送来在线数据时
    socket.on('update_online_count', function(online_stat){
        console.log(online_stat);
    });
    function showit(msg) {
        $("p").html("<b>"+msg+"</b>");
    }
    function showMsg(no)
    {
        if(!no)
        {
            return false;
        }
        $.ajax(
            {
                url: "{:U('teaInfo')}",
                data:{"no":no},
                type: "post",
                beforeSend:function()
                {
                    return true;
                },
                success:function(data)
                {
                    if(data)
                    {
                        // 解析json数据
                        var data = data;
                        var data_obj = eval("("+data+")");
                        $("#row").html(data_obj.row);
                    }
                },
                error:function()
                {
                    alert('请求出错');
                },
                complete:function()
                {
                    // $('#tips').hide();
                }
            });

        return false;
    }

    function speckText(msg){
        var url = "http://tts.baidu.com/text2audio?lan=zh&ie=UTF-8&text=" + encodeURI(msg);        // baidu
        var n = new Audio(url);
        n.src = url;
        n.play();

    }
    function dotts(msg){
        var ttsDiv = document.getElementById('bdtts_div_id');
        var ttsAudio = document.getElementById('tts_autio_id');

        // 文字转语音
        ttsDiv.removeChild(ttsAudio);
        var au1 = '<audio id="tts_autio_id" autoplay="autoplay" >';
        var sss = '<source id="tts_source_id" src="http://tts.baidu.com/text2audio?lan=zh&ie=UTF-8&per=3&spd=5&text=' + msg + '" type="audio/mpeg">';
        var eee = '<embed id="tts_embed_id" height="0" width="0" src="">';
        var au2 = '</audio>';
        ttsDiv.innerHTML = au1 + sss + eee + au2;
        ttsAudio = document.getElementById('tts_autio_id');
        var audioPlay = ttsAudio.play();
        audioPlay.then(()=>{
            console.log('可以自动播放');
        }).catch((err)=>{
            console.log(err);
            console.log("不允许自动播放");
            //音频元素只在用户交互后调用.play(),
            // ...
        });

        // ttsAudio.play();
        console.log('play');
    }
</script>
</body>
<div>
    <p>暂无消息</p>
</div>
</html>