{extend name="shop@wap/supu_file" /}
{block name="common_body"}
<script>
    $(function () {
        $("input,select").on("blur",function(){
            setTimeout(function(){
                window.scrollTo(0,0);
            },100)
        }).on('focus',function(){
            var clientHeight = document.documentElement.clientHeight || document.body.clientHeight;
            var offsetTop = $(this).offset().top - (clientHeight / 4);
            setTimeout(function(){
                window.scrollTo(0,offsetTop);
            },100)
        })

        $(".list2").click(function () {
            $(".list2").removeClass("bgcolor2");
            $(this).addClass("bgcolor2");
        })








    });
    function go_back() {
        location.href = "{:U('kaoqin')}";
    }

</script>
<body>
<div id="head">
    <div class="goback" onclick="go_back()"><img src="__STATIC__/supu/img/fanhui.png"></div>
    <div class="head_body">
        <div class="picture"><img src="{$myinfo.headimgurl}"></div>
        <div class="head_text">{$myinfo.nickname}</div>
    </div>
</div>

<div id="body" style="overflow: auto;">
    {volist name="dk" id="dk"}
    <div class="list2 bgcolor1"  data-id="{$dk.id}" data-cid="{$dk.id}">
        <div class="list2_tp">
            <div class="list2_tp_picture"></div>
        </div>
        <div class="list2_body">
            <div class="list2_body_top">
                <div class="list2_body_top_label2">
                    {if condition="$dk.type == 1"}
                    上班
                    {else /} 下班
                    {/if}</div>
                <div class="list2_body_top_text2">打卡时间:{$dk.dk_time|time_format}</div>
            </div>
        </div>
    </div>
    {/volist}
</div>


<div class="foot">

<!--    <div class="foot_list but_zhuxiao" style="margin: 0 auto; float: none;">
        <img src="__STATIC__/supu/img/zhuxiao.png" />
    </div>-->

</div>
</body>
{/block}

