{extend name="shop@wap/supu_file" /}

{block name="common_body"}
<script>
    $(function () {
        $(".submit").click(function () {
            fade_out_pull();
        });

        $(".frame_no").click(function(){
            fade_out_hide();
        });
        $(".frame_yes").click(function(){
           // location.href = "{:U('makeArt')}";
            var url = "{:U('makeArt')}";
            var roomname=$('input[name="roomname"]').val();
            var rs=$('input[name="rs"]').val();
            var sex=$('input[name="sex"]:checked').val()
            $.showLoading();

            $.post(url, {'roomname': roomname, 'rs': rs,'sex':sex}, function(res) {
                //console.log(res); return false;

               // if (res) $.hideLoading();

                if (res.code == 0) {
                    alert((res.msg));
                } else {
                    var url = "{:U('do_pay')}?out_trade_no=" + res.out_trade_no;
                    window.location.href = url;

                }
            });
        });

    });

</script>
<body>
<div id="head">
    <div class="goback"></div>
    <div class="head_body">
        <div class="picture"><img src="{$myinfo.headimgurl}"></div>
        <div class="head_text">{$myinfo.nickname}</div>
    </div>
</div>

<div id="body">
    <div class="list1" style="margin-top: 100px;">
        <div class="label">房间号</div>
        <div class="list_text">
            <input style="background: none" type="text" name="roomname" size="12" maxlength="20">
        </div>
    </div>

    <div class="list1">
        <div class="label">人 数</div>
        <div class="list_text">
            <input style="background: none" type="text" name="rs" size="12" maxlength="20">
        </div>
    </div>

    <div class="list1">
        <div class="label">技师号</div>
        <div class="list_text">
            <input style="background: none" type="text" name="text3" size="12" maxlength="20">
        </div>
    </div>

    <div class="list1" style="border-bottom: 1px solid #333;">
        <div class="label">性 别</div>
        <div class="list_text">
            <div class="choose_radio">
                <input class="radio" name="sex" type="radio" value="1"/><label>男</label>
            </div>
            <div class="choose_radio">
                <input class="radio" name="sex" type="radio" value="0"  /><label>女</label>
            </div>
        </div>
    </div>
</div>

<!--遮罩层-->
<div class="outside_pull fade_out"></div>
<div class="frame fade_out">
    <div class="frame_title">确认提交？</div>
    <div class="frame_list">
        <div class="frame_cho frame_yes" style="border-right: 2px solid #ddd">确 认</div>
        <!--<div class="frame_border">|</div>-->
        <div class="frame_cho frame_no">取 消</div>
    </div>
</div>

<div class="submit">
    <img src="__STATIC__/supu/img/tijiao.png" />
</div>
</body>



{/block}