{extend name="shop@wap/supu_file" /}

{block name="common_body"}
<script>
    $(function () {
        $(".submit").click(function () {
            fade_out_pull();
        });

        $(".frame_no").click(function(){
            fade_out_hide();
        });
        $(".frame_yes").click(function(){
            fade_out_hide();
            var url = "{:U('makeArt')}";
            var roomname=$('input[name="roomname"]').val();
            //var rs=$('input[name="rs"]').val();
            var jsbn=$('input[name="jsbn"]').val();
            var secret=$('input[name="secret"]').val();
            var woman=$('input[name="woman"]').val();
            var man=$('input[name="man"]').val();
            //var sex=$('input[name="sex"]:checked').val()
            $.post(url, {'roomname': roomname, 'woman': woman,'man':man,'jsbn':jsbn,'secret':secret}, function(res) {
                //console.log(res); return false;

               // if (res) $.hideLoading();

                if (res.code == 0) {
                    alert((res.msg));
                } else {
                    alert((res.msg));
                    //var url = "{:U('call_list')}?out_trade_no=" + res.out_trade_no;
                    var url = "{:U('call_list')}";
                    window.location.href = url;

                }
            });
        });
        $("#type").change(function(){
            var set= $("#type").val();
            if(set==1){
                $("#pz").show();
                $("#dz").hide();
            }
            if(set==2){
                $("#pz").hide();
                $("#dz").show();
            }
        });
    });

</script>
<body>
<div id="head">
    <div class="goback"></div>
    <div class="head_body">
        <div class="picture"><img src="{$myinfo.headimgurl}"></div>
        <div class="head_text">{$myinfo.nickname}</div>
    </div>
</div>
<div id="body">
    <div class="list1" style="margin-top: 100px;">
        <div class="label">房间号</div>
        <div class="list_text">
            <input style="background: none" type="text" name="roomname" size="12" maxlength="20">
        </div>
    </div>
    <div class="list1">
        <div class="label">方式</div>
        <div class="list_text">
            <select name="type" id="type" style="width: 80%;height: 50px;line-height: 50px;font-size: 26px;padding-left: 10px;margin-top: 15px;">
                <option value="1">排钟</option>
                <option value="2">点钟</option>
            </select>
        </div>
    </div>
    <div id="pz">
    <div class="list1">
        <div class="label">不限性别</div>
        <div class="list_text">
            <input style="background: none" type="text" name="secret" size="12" maxlength="20">
        </div>
    </div>
    <div class="list1">
        <div class="label">女技师</div>
        <div class="list_text">
            <input style="background: none" type="text" name="woman" size="12" maxlength="20">
        </div>
    </div>
    <div class="list1">
        <div class="label">男技师</div>
        <div class="list_text">
            <input style="background: none" type="text" name="man" size="12" maxlength="20">
        </div>
    </div>
    </div>
    <div class="list1" style="display: none" id="dz">
        <div class="label">技师号</div>
        <div class="list_text">
            <input style="background: none" type="text" name="jsbn" size="12" maxlength="20">
        </div>
    </div>
</div>

<!--遮罩层-->
<div class="outside_pull fade_out"></div>
<div class="frame fade_out">
    <div class="frame_title">确认提交？</div>
    <div class="frame_list">
        <div class="frame_cho frame_yes" style="border-right: 2px solid #ddd">确 认</div>
        <!--<div class="frame_border">|</div>-->
        <div class="frame_cho frame_no">取 消</div>
    </div>
</div>

<div class="submit">
    <img src="__STATIC__/supu/img/tijiao.png" />
</div>
</body>



{/block}