{extend name="shop@wap/supu_file" /}
{block name="common_body"}
<script>
    $(function () {
        var second = "{$times}";//剩余秒数
        blogtime(second);
        function blogtime(cha) {
            //一天=24小时 一小时=60分钟 一分钟=60秒 一秒=1000毫秒
            var xs = parseInt(cha / (60 * 60) % 24);
            var fz = parseInt(cha / 60 % 60);
            var miao = parseInt(cha % 60);
            if (parseInt(xs) < 10) {
                var xs = '0' + parseInt(xs);
            } else {
                var xs = parseInt(xs);
            }
            if (parseInt(fz) < 10) {
                var fz = '0' + parseInt(fz);
            } else {
                var fz = parseInt(fz);
            }
            if (parseInt(miao) < 10) {
                var miao = '0' + parseInt(miao);
            } else {
                var miao = parseInt(miao);
            }
            var time = xs + ':' + fz + ':' + miao;
            $("#data").text(time);
            cha = cha - 1;
            setTimeout(function () {
                blogtime(cha);
            }, 1000);
        }

        $(".submit").click(function () {
            fade_out_pull();
        });

        $(".frame_no").click(function () {
            fade_out_hide();
        });
        $(".frame_yes").click(function () {
            var url = "{:U('end_clock')}";
            var room="{$room}";
            $.post(url, {'room':room}, function(res) {
                if (res.code == 0) {
                    alert((res.msg));
                } else {
                    alert((res.msg));
                    var hurl = "{:U('work_clock')}";
                    window.location.href = hurl+'/room/{$room}';

                }
            });
        });


    });


    function go_back() {
        var hurl = "{:U('start_work')}";
        window.location.href = hurl+'/room/{$room}';
    }



</script>
<body>
<div id="head">
    <div class="goback" onclick="go_back()"><img src="__STATIC__/supu/img/fanhui.png"></div>
    <div class="head_body">
        <div class="picture"><img src="{$myinfo.headimgurl}"></div>
        <div class="head_text">{$myinfo.nickname}</div>
    </div>
</div>
<div id="body">
    <div class="house">
        <div class="house_label">房间号</div>
        <div class="house_text">{$room}</div>
    </div>
    <div id="data" class="body_time">3600</div>
</div>

<!--遮罩层-->
<div class="outside_pull fade_out"></div>
<div class="frame fade_out">
    <div class="frame_title">确认结束？</div>
    <div class="frame_list">
        <div class="frame_cho frame_yes" style="border-right: 2px solid #ddd">确 认</div>
        <!--<div class="frame_border">|</div>-->
        <div class="frame_cho frame_no">取 消</div>
    </div>
</div>

<div class="submit">
    <img src="__STATIC__/supu/img/jieshu.png" />
</div>
</body>
{/block}