<style type="text/css">
    .sleft{
        height:32px;
        margin-right:20px;
    }

    .condition{
        float: left;
        min-width: 0px;
        margin-bottom: 10px;
    }
    .search-input:focus{
        border:1px solid #006fd8;
    }
    .muti_search{ margin-top:45px;}
    .search-input{width: 100px}
</style>
<!-- 高级搜索 -->
<form class="muti_search cf" action="{:U('lists')}" id="muth_search_form">
    <div style="line-height: 30px;">
        <div class="condition">
            <span>技师编号：</span>
            <input type="text" name="jsbn" class="search-input" value="{$jsbn|default=''}">
            <input type="hidden" name="status" value="{$status}">
        </div>
        <div class="condition">
            <span>房间号：</span>
            <input type="text" name="room" class="search-input" value="{$room|default=''}">
        </div>
           <div class="condition">
              <span>时间：</span>
               <input type="datetime" autocomplete="off"  class="time1" name="start_time" value="{$start_time|default=''}"><span class="ml-2 mr-2">至</span><input type="datetime" autocomplete="off"  class="time2" name="end_time" value="{$end_time|default=''}">
            </div>
        <div class="condition">
            <button type="button" class="sch-btn btn" href="javascript:;" id="muti_search" style="padding: 10px;">搜索</button>
            {switch $status}
            {case 1}
            <button type="button" class="sch-btn btn" data-toggle="modal"  onclick="return get_info()"  data-target="#addUserModal" id="pay_all" style="padding: 10px;">批量支付</button>
            {/case}
            {case 2}
            <button type="button" class="sch-btn btn" data-toggle="modal"  onclick="return finish_info()"  data-target="#addUserModal" id="finish_all" style="padding: 10px;">批量结单</button>
            {/case}
            {default /}
            {/switch}
        </div>
    </div>
</form>
<script type="text/javascript">
    $(function(){
        $('.time1').datetimepicker({
            format: 'yyyy-mm-dd',
            language:"zh-CN",
            minView: "month",
            endDate: new Date,
            autoclose: !0,
            todayHighlight: !0,
        });
        $('.time2').datetimepicker({
            format: 'yyyy-mm-dd',
            language:"zh-CN",
            minView: "month",
            endDate: new Date,
            autoclose: !0,
            todayHighlight: !0,
        });
        $("input[type='datetime']").on("click", function() {

            $(".time1").datetimepicker().off("changeDate").on("changeDate", function() {
                //$(".time1").datetimepicker("setEndDate", new Date($(".time2").val()))
                var month_2 = new Date($(".time1").val()).getTime()+2592e6*2 //60天秒数
                var nowD = new Date((new Date).getTime())                    //当前时间秒数
                if(month_2>nowD){
                    month_2=new Date
                }else{
                    month_2 = new Date(new Date($(".time1").val()).getTime()+2592e6*2)
                }
                $(".time2").datetimepicker("setStartDate", new Date($(".time1").val()))
                $(".time2").datetimepicker("setEndDate",month_2)
                $(".time2").datetimepicker("setDate",month_2);
            })
        })
        //搜索功能
        $("#muti_search").click(function(){
            var data = $('#muth_search_form').serializeArray();
            //console.log(data)
            var query = '/';
            for(var i = 0; i< data.length; i++){
                if(data[i]['value']!=''){
                    query += data[i]['name'] + '/'+data[i]['value']+'/'
                }
            }
            //console.log(query)
            var url = "{:U('lists')}"+query;
            //console.log(url)

            url = url.replace(/[?&=]/g,'/');
            window.location.href = url;
        });

        $("#pay_all2").click(function(){
            var ids=[];
            $("input[name='ids[]']:checked").each(function() {
                ids.push($(this).val());
            });
            order_ids=ids.join(',');
            if(!ids)
            {
                alert('请选择订单！');
                return false;
            }
            // var form_data = new Array();
            $.ajax(
                {
                    url: "{:U('pay_all_info')}",
                    data:{"order_ids":order_ids},
                    type: "post",
                    beforeSend:function()
                    {
                        // $("#tip").html("<span style='color:blue'>正在处理...</span>");
                        return true;
                    },
                    success:function(data)
                    {
                        if(data)
                        {
                            // 解析json数据
                            var data = data;

                            var data_obj = eval("("+data+")");

                            // 赋值
                            $("#jsbn").val(data_obj.jsbn);
                            // $("#id").val(data_obj.id);
                            $("#total_price").val(data_obj.total_price);
                            // $("#address").val(data_obj.address);

                            // 将input元素设置为readonlyid
                            $('#jsbn').attr("readonly","readonly");
                            $('#total_price').attr("readonly","total_price");
                            // location.reload();
                        }
                        else
                        {
                            $("#tip").html("<span style='color:red'>失败，请重试</span>");
                            //  alert('操作失败');
                        }
                    },
                    error:function()
                    {
                        alert('请求出错');
                    },
                    complete:function()
                    {
                        // $('#tips').hide();
                    }
                });

            return false;
        });


    })

</script>