<style>
    .form-group{
        margin-bottom: 0;
    }
</style>
<!-- 模态框示例（Modal） -->
<form method="post" action="{:U('pay_action')}" class="form-horizontal" role="form" id="form_data" onsubmit="return check_form()" style="margin: 20px;">
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        支付订单
                    </h4>
                </div>
                <div class="alert alert-success" id="msg" style="display: none;">
                    <strong>操作成功!</strong>
                </div>
                <div class="alert alert-danger" id="msg2" style="display: none;">
                    <strong>错误!</strong>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="user_id" class="col-sm-3 control-label">房间编号</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="room" name="room" value="{room}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_id" class="col-sm-3 control-label">技师编号</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="jsbn" name="jsbn" value="{jsbn}">
                                <input type="hidden" id="id" name="id" value="{id}">
                                <input type="hidden" id="ids" name="ids" value="{ids}">
                                <input type="hidden" id="romm" name="room" value="{room}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="lastname" class="col-sm-3 control-label">总金额</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="total_price" value="" id="total_price"
                                >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-3 control-label">支付方式</label>
                            <div class="col-sm-9">
                                <select name="pay_type" id="pay_type">
                                    <option value="0">请选择</option>
                                    <option value="1">微信</option>
                                    <option value="2">支付宝</option>
                                    <option value="3">现金</option>
                                    <option value="4">会员卡</option>
                                    <option value="5">免单</option>
                                    <option value="6">其他</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="display: none" id="card">
                            <label for="lastname" class="col-sm-3 control-label">请输入卡号</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="card_no" value="" id="card_no"
                                >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="remark" class="col-sm-3 control-label">备注</label>
                            <div class="col-sm-9">
                                <input type="text"  class="form-control" name="remark" value="" id="remark">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" id="sub" class="btn btn-primary"  onclick="return pay_cation()">
                        确认支付
                    </button><span id="tip"> </span>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</form>

<!-- 模态框示例（Modal） -->
<form method="post" action="{:U('finish_action')}" class="form-horizontal" role="form" id="form_data2" onsubmit="return check_form()" style="margin: 20px;">
    <div class="modal fade" id="addUserModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">
                        订单结账
                    </h4>
                </div>
                <div class="alert alert-success" id="msg_finish" style="display: none;">
                    <strong>操作成功!</strong>
                </div>
                <div class="alert alert-danger" id="msg2_finish" style="display: none;">
                    <strong>错误!</strong>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="user_id" class="col-sm-3 control-label">房间编号</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="room_finish" name="room" value="{room}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_id" class="col-sm-3 control-label">技师编号</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="jsbn_finish" name="jsbn" value="{jsbn}">
                                <input type="hidden" id="id_finish" name="id" value="{id}">
                                <input type="hidden" id="ids_finish" name="ids" value="{ids}">
                                <input type="hidden" id="romm_finish" name="room" value="{room}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="lastname" class="col-sm-3 control-label">总金额</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="total_price" value="" id="total_price_finish"
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="remark" class="col-sm-3 control-label">备注</label>
                            <div class="col-sm-9">
                                <input type="text"  class="form-control" name="remark" value="" id="remark_finish">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" id="sub_finish" class="btn btn-primary"  onclick="return finish_cation()">
                        确认
                    </button><span id="tip_finish"> </span>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</form>
<script>
    $("#pay_type").change(function(){
        var t=$("#pay_type option:selected").val();
        if(t==4){
            $("#card").show();
        }else{
            $("#card").hide();
        }
    });
    //确认支付
    $("#sub").click(function(){
        var ids=$('#ids').val();
        var total_price =$('#total_price').val();
        var jsbn=$('#jsbn').val();
        var pay_type=$("#pay_type option:selected").val();
        var card_no=$('#card_no').val();
        var remark=$('#remark').val();
        $.ajax(
            {
                url: "{:U('pay_action')}",
                data:{"ids":ids,"total_price":total_price,"jsbn":jsbn,"pay_type":pay_type,"card_no":card_no,"remark":remark},
                type: "post",
                beforeSend:function()
                {
                    // $("#tip").html("<span style='color:blue'>正在处理...</span>");
                    return true;
                },
                success:function(data)
                {
                    var data = data;

                    var data_obj = eval("("+data+")");
                    if(data_obj.type==1)
                    {
                        $('#msg2').hide();
                        $('#msg').show();
                        location.reload();
                    }

                    if(data_obj.type==2) {
                        $("#msg2").html("<strong>"+data_obj.msg+"</strong>");
                        $('#msg2').show();
                        //  $("#tip").html("<span style='color:red'>请选择支付方式！</span>");
                        //  alert('操作失败');
                    }
                },
                error:function()
                {
                    alert('请求出错');
                },
                complete:function()
                {
                    // $('#tips').hide();
                }
            });
    });
    //确认结账
    $("#sub_finish").click(function(){
        var ids=$('#ids').val();
        var total_price =$('#total_price').val();
        var jsbn=$('#jsbn').val();
        var remark=$('#remark').val();
        $.ajax(
            {
                url: "{:U('finish_action')}",
                data:{"ids":ids,"total_price":total_price,"jsbn":jsbn,"remark":remark},
                type: "post",
                beforeSend:function()
                {
                    // $("#tip").html("<span style='color:blue'>正在处理...</span>");
                    return true;
                },
                success:function(data)
                {
                    var data = data;

                    var data_obj = eval("("+data+")");
                    if(data_obj.type==1)
                    {
                        $('#msg2').hide();
                        $('#msg').show();
                        location.reload();
                    }

                    if(data_obj.type==2) {
                        $("#msg2").html("<strong>"+data_obj.msg+"</strong>");
                        $('#msg2').show();
                        //  $("#tip").html("<span style='color:red'>请选择支付方式！</span>");
                        //  alert('操作失败');
                    }
                },
                error:function()
                {
                    alert('请求出错');
                },
                complete:function()
                {
                    // $('#tips').hide();
                }
            });
    });

    // 支付单笔订单支付信息
    function get_edit_info(order_id)
    {
        if(!order_id)
        {
            alert('Error！');
            return false;
        }
        $.ajax(
            {
                url: "{:U('pay_info')}",
                data:{"order_id":order_id},
                type: "post",
                beforeSend:function()
                {
                    // $("#tip").html("<span style='color:blue'>正在处理...</span>");
                    return true;
                },
                success:function(data)
                {
                    if(data)
                    {
                        // 解析json数据
                        var data = data;

                        var data_obj = eval("("+data+")");

                        // 赋值
                        $("#jsbn").val(data_obj.jsbn);
                        $("#ids").val(data_obj.id);
                        $("#room").val(data_obj.room);
                        $("#total_price").val(data_obj.total_price);
                        $("#address").val(data_obj.address);

                        // 将input元素设置为readonlyid
                        $('#jsbn').attr("readonly","readonly");
                        $('#room').attr("readonly","readonly");
                        $('#total_price').attr("readonly","total_price");
                        // location.reload();
                    }
                    else
                    {
                        $("#tip").html("<span style='color:red'>失败，请重试</span>");
                        //  alert('操作失败');
                    }
                },
                error:function()
                {
                    alert('请求出错');
                },
                complete:function()
                {
                    // $('#tips').hide();
                }
            });

        return false;
    }
    // 订单支付批量支付信息
    function get_info()
    {
        var ids=[];
        $("input[name='ids[]']:checked").each(function() {
            ids.push($(this).val());
        });
        order_ids=ids.join(',');
        if(!ids)
        {
            alert('请选择订单！');
            return false;
        }
        // var form_data = new Array();
        $.ajax(
            {
                url: "{:U('pay_all_info')}",
                data:{"order_ids":order_ids},
                type: "post",
                beforeSend:function()
                {
                    // $("#tip").html("<span style='color:blue'>正在处理...</span>");
                    return true;
                },
                success:function(data)
                {
                    if(data)
                    {
                        $('#msg2').hide();
                        var data = data;
                        var data_obj = eval("("+data+")");
                        if(data_obj.total_price==0){
                            $("#msg2").html("<strong>请选择要支付的订单</strong>");
                            $('#msg2').show();
                        }
                        // 赋值
                        $("#jsbn").val(data_obj.jsbn);
                        $("#ids").val(data_obj.ids);
                        $("#room").val(data_obj.room);
                        $("#total_price").val(data_obj.total_price);
                        // $("#address").val(data_obj.address);

                        // 将input元素设置为readonlyid
                        $('#jsbn').attr("readonly","readonly");
                        $('#room').attr("readonly","readonly");
                        $('#total_price').attr("readonly","total_price");
                        // location.reload();
                    }
                    else
                    {
                        $("#tip").html("<span style='color:red'>失败，请重试</span>");
                        //  alert('操作失败');
                    }
                },
                error:function()
                {
                    alert('请求出错');
                },
                complete:function()
                {
                    // $('#tips').hide();
                }
            });

        return false;
    }

    // 批量结单信息
    function finish_info()
    {
        var ids=[];
        $("input[name='ids[]']:checked").each(function() {
            ids.push($(this).val());
        });
        order_ids=ids.join(',');
        if(!ids)
        {
            alert('请选择订单！');
            return false;
        }
        // var form_data = new Array();
        $.ajax(
            {
                url: "{:U('finish_info')}",
                data:{"order_ids":order_ids},
                type: "post",
                beforeSend:function()
                {
                    // $("#tip").html("<span style='color:blue'>正在处理...</span>");
                    return true;
                },
                success:function(data)
                {
                    if(data)
                    {
                        $('#msg2_finish').hide();
                        var data = data;
                        var data_obj = eval("("+data+")");
                        if(data_obj.total_price==0){
                            $("#msg2").html("<strong>请选择要结账的订单</strong>");
                            $('#msg2').show();
                        }
                        // 赋值
                        $("#jsbn_finish").val(data_obj.jsbn);
                        $("#ids_finish").val(data_obj.ids);
                        $("#room_finish").val(data_obj.room);
                        $("#total_price_finish").val(data_obj.total_price);
                        // $("#address").val(data_obj.address);

                        // 将input元素设置为readonlyid
                        $('#jsbn_finish').attr("readonly","readonly");
                        $('#room_finish').attr("readonly","readonly");
                        $('#total_price_finish').attr("readonly","total_price");
                        // location.reload();
                    }
                    else
                    {
                        $("#tip_finish").html("<span style='color:red'>失败，请重试</span>");
                        //  alert('操作失败');
                    }
                },
                error:function()
                {
                    alert('请求出错');
                },
                complete:function()
                {
                    // $('#tips').hide();
                }
            });

        return false;
    }
</script>